
<div class="row">
	<div class="col-md-1">
		<button class="btn btn-primary leaveBtn" ng-click="leaveRoom()">
			&lt;-- Leave
		</button>
	</div>
	<div class="col-md-4 col-md-offset-3">
		<h3>Hi {{currentUser}} - You are in room {{currentRoom}}</h3>
	</div>
</div>

<div class="row chatRow">

	<div class="col-md-10">
		<div id="chatWindow">
			<ul>
				<li>Topic: {{roomTopic}}</li>
			</ul>
			<ul ng-repeat="msg in allMessages">
				<li class="userMsg">
					{{msg.nick}}:  {{msg.message}}
					<span class="msgTime">{{msg.timestamp | date:'HH:mm'}}</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-2 roomUserList">
		<h4>Users:</h4>
		<ul ng-repeat="user in currentUsers">
			<li ng-if="isOp(user)">
				<span class="glyphicon glyphicon-user"></span>
				{{user}} (OP)
			</li>
			<li ng-if="!isOp(user)">
				<span class="glyphicon glyphicon-user"></span>
				{{user}}
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form accept-charset="UTF-8" role="form" class="form-inline" id="chatForm" name="myForm">
			<fieldset>
				<div class="form-group" id="divFormGroup">
					<input type="text" id="chatInput" autocomplete="off" ng-model="message" autofocus>
				</div>
				<input class="btn btn-primary chatButton" type="submit" value="Send" ng-click="sendMsg()"></input>
			</fieldset>
		</form>
	</div>
</div>
