<h1>Hi {{currentUser}}!</h1>

<div class="row">

  <div class="col-md-2" id="roomList">
    <h4>Avilable rooms:</h4>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="room in rooms" style="border:1px solid black">
          <a ng-click="createRoom(room)" class="btn btn-success">{{room}}</a>
        </li>
    </ul>
  </div>
  
  <div class="col-md-10" style="overflow:auto;">

    <tabset justified="true">
      <tab ng-repeat="channel in curUserChannels" heading="{{channel.name}}">
        <div id="chatWindow" class="col-md-10" scroll-glue>
          <ul>
            <li>Topic: {{channel.topic}}</li>
          </ul>
          <ul ng-repeat="msg in channel.messageHistory">
            <li class="userMsg">
              {{msg.nick}}:  {{msg.message}}
              <span class="msgTime">{{msg.timestamp | date:'HH:mm'}}</span>
            </li>
          </ul>
        </div>

        <div class="roomUserList col-md-2">
<!--
          <div class="form-group has-feedback has-feedback-left">
            <input type="text" class="form-control" placeholder="Search user" ng-model="searchUser" />
            <i class="glyphicon glyphicon-user form-control-feedback"></i>
          </div>
-->
          <ul class="list-group">
            <li class ="list-group-item" ng-repeat="(key, value) in channel.users | filter:searchUser">
              <span class="glyphicon glyphicon-user"></span>
              {{key}} <span ng-if="isOp(channel.name, key)">(OP)</span>
            </li>
          </ul>

        </div>
      

        <div class="row">

          <div class="col-md-12">
            
            <form accept-charset="UTF-8" class="form-inline" id="chatForm" name="myForm">
              <fieldset>
                <div class="form-group" id="divFormGroup">
                  <input type="text" id="chatInput" autocomplete="off" ng-model="data.msg" autofocus>
                </div>
                <input class="btn btn-primary chatButton" type="submit" value="Send" ng-click="sendMsg(channel.name)"></input>
              </fieldset>
            </form>

          </div>
        </div>
      </tab>
    </tabset>
  </div>

</div>



<div class="panel panel-default">
  
  <div class="panel-heading">
    <h4>You can also create your own room!</h4>
  </div>
  
  <div class="panel-body">
    <form class="form-inline" name="createRoomForm" ng-submit="createRoom(roomName)">
      <div class="form-group">
        <label for="roomName"></label>
        <input type="text" name="nameOfRoom" required class="form-control" id="roomName" placeholder="What's the name of your room?" ng-model="roomName">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
  
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Connected users:</h4>
  </div>
  <div class="panel-body" ng-repeat="user in allUsers">
    <span>{{user}}</span>
  </div>
</div>