<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<h3>Hi {{currentUser}} - Room {{currentRoom}}</h3>

<div id="chatWindow">
	<ul ng-repeat="msg in allMessages">
		<li class="userMsg">
			{{msg.nick}}: {{msg.message}}
			<span class="msgTime">{{msg.timestamp | date:'HH:mm'}}</span>
		</li>
	</ul>
</div>

<form accept-charset="UTF-8" role="form" class="form-inline" id="chatForm">
	<fieldset>
		<div class="form-group" id="chatInputDiv">
			<input type="text" id="chatInput" autocomplete="off" ng-model="message">
		</div>
		<input class="btn btn-primary" type="submit" value="Send" ng-click="sendMsg()"></input>
	</fieldset>
</form>