body {
	text-align: center;
}
.roomUserList {
	float: right;
	overflow: auto;
	height: 500px;
}
.glyphicon-user {
	float: left;
}
.chatRow {
	margin-top: 2%;
}
#chatWindow {
	text-align: left;
	background-color: white;
	color: black;
	overflow: auto;
	height: 500px;
}
#chatForm {
	width: 100%;
	margin-top: 1%;
}
.chatButton {
	float: left;
	width: 6.1%;
}
#divFormGroup {
	width: 76.8%;
	float: left;
}
#chatInput {
	border: 0;
	padding: 9px;
	vertical-align: middle;
	width: 100%;
}
.userMsg {
	padding: 5px 10px;
}
.userMsg:nth-child(odd) { 
	background: #eee;
	border: 1px solid black;
}

#chatWindow ul {
	list-style-type: none; 
	margin: 0; 
	padding: 0;

}
.msgTime {
	float:right;
}
