body {
	text-align: center;
}
.roomUserList {
	float: right;
	overflow: auto;
	height: 500px;
}
.nav-tabs.nav-justified{
	width: 83.5%;
	border: 1px solid black;
}
#roomList {
	height: 545px;
	overflow: auto;
}
.glyphicon-user {
	float: left;
}
.chatRow {
	margin-top: 2%;
}
#chatWindow {
	text-align: left;
	background-color: white;
	color: black;
	overflow: auto;
	height: 500px;
	padding: 0px;
}
#chatForm {
	width: 100%;
	margin-top: 1%;
}
.chatButton {
	float: left;
	width: 6.1%;
}
#divFormGroup {
	width: 76.8%;
	float: left;
}
.topic {
	background-color: #A5ACB3;
	padding: 10px 10px;
	margin: 0px 10px;
	border-bottom: 3px solid rgb(43, 62, 80);
	border-left: 3px solid rgb(43, 62, 80);
	border-right: 3px solid rgb(43, 62, 80);
}
#chatInput {
	border: 0;
	padding: 9px;
	vertical-align: middle;
	width: 100%;
}
.userMsg {
	padding: 10px;
	margin: 0px 10px;
	border-bottom: 1px solid black;
}
.userMsg:nth-child(odd) { 
	background: #eee;
}

#chatWindow ul {
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}
.msgTime {
	float:right;
}

.userItem {
	border: 2px solid #2b3e50;
	margin-left: 0;
	margin-right: 0;
}

.bannedUserItem {
	background-color: #7C6065;
	border: 2px solid #2b3e50;
	margin-left: 0;
	margin-right: 0;
}

.roomItem {
	border: 2px solid #2b3e50;
	margin-left: 0;
	margin-right: 0;
}

.removePadding {
	padding: 0;
}

.topicBox {
	background-color: #2b3e50;
	border: 0;
	color: inherit;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding-left: 10px;
    pointer-events: none;
}
.createRoomRow {
	margin-top: 1%;
}
.allUsersList {
	column-count:5;
    -webkit-column-count:5;
    -moz-column-count:5;
    list-style-type: none;
}