body {
	text-align: center;
}

#chatWindow {
	text-align: left;
	background-color: white;
	color: black;
	margin: auto;
	overflow: auto;
	width: 1000px;
	height: 500px;
}
#chatForm {
	width: 95%;
	margin: auto;
	margin-top: 10px;
}
#chatInput {
	border: 0;
	padding: 9px;
	vertical-align: middle;
	width: 100%;
}
#chatInputDiv {
	width: 86%;
}
.userMsg {
	padding: 5px 10px;
}
.userMsg:nth-child(odd) { background: #eee; }

#chatWindow ul {
	list-style-type: none; 
	margin: 0; 
	padding: 0;

}
.msgTime {
	float:right;
}
